$text-color: #343240;
$text-blue: #03A9F4;
$body-background: #F2F4F6;

//fonts
$poppins-font: 'Poppins', sans-serif;
$inter-font: 'Inter', sans-serif;

//mobile
$mobile-width: 320px;
$mobile-width-only: 767px;

//tablet
$tablet-width: 768px;

//desktop
$desktop-width: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

